@import url('./css-reset.css');
@import url('./css-fonts.css');
@import url('./css-vars.css');
@import url('./css-prism-lucario.css');
html {
	scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--black);
	font-family: 'Besley';
}

pre,
code {
	border-radius: 5px;
	overflow-x: scroll;
	width: 100%;
}
